{% extends 'base.html' %}

{% block content %}
<h1>Welcome To My Image DataBase</h1>


		<div class="card">
		  <div class="card-header">
		  	<div class="position-relative">
		   Database
		    <a href="{% url 'upload-img' %}" class="position-absolute end-0 text-decoration-none" ><h5>+ADD</h5></a>
		</div>
		  </div>
		  <div class="card-body">
		    <h5 class="card-title"></h5>
		    <p class="card-text">
		    	{% for up in infor %}
		    	<ul class="position-relative" >
					<li>Name: {{up.name}}
					<sapn class="position-absolute end-0">
					   <a href="{% url 'update-name' up.id %}" class="text-decoration-none" >Edit</a> |
					   <a href="{% url 'del-data' up.id %}" class="text-decoration-none" >Del</a>
					</sapn>
					</li>
				</ul>
				{% endfor %}
		    </p>

		  </div>

		</div>
		<br/>
		<br/>
		<br>


{% endblock %}